

<h1>{{ question.question_text }}</h1>

<!-- {% url 'polls:vote' question.id %} -->
<!-- 
    {% url '앱이름:경로이름' 요청변수의 값 %} 
    {% url %} 태그는 urls.py 파일을 참조하여, 매핑한 url 경로를 출력해준다.
    * 앱이름을 사용하려면, urls.py 파일에서 app_name 변수를 설정해야한다.
    앱이름:경로이름  →  /polls/10/vote 

-->
<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
<!-- 설문 - 답변항목 -->
{% for choice in question.choice_set.all %} 
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" 
           value="{{ choice.id }}">
    <label for="choice{{ forloop.counter }}" >{{ choice.choice_text }}</label> <br>
{% endfor %}

{% if error_message %}
    <p style="color: red;">{{ error_message }}</p>
{% endif %}

<input type="submit" value="투표하기">
<a href="/polls/{{ question.id }}/results">결과보기</a>

</form>