{% extends 'base.html' %}
{% block content %}
    <h1>게시글 수정</h1>
    <div class="content">
        <form action="" method="POST">
            {% csrf_token %}
            <input type="hidden" name="board_id" value="{{ board.id }}">

            <div class="input-box">
                <label for="title">제목</label>
                <input type="text" name="title" id="title" value="{{ board.title }}">
            </div>
            <div class="input-box">
                <label for="content">내용</label>
                <textarea name="content" id="content" cols="30" rows="10">{{ board.content }}</textarea>
            </div>

            <button type="submit" class="btn">등록</button>
        </form>
    </div>

{% endblock %}